body {
    background-color: tan;
    display: flex;
    justify-content: center;
}

.App {
    background-color: teal;
    width: 50vw;
    justify-content: center;
    text-align: center;
    border: 1rem solid black;
    color: bisque;

}

#valid {
    color: lightgreen;
    font-weight: bold;
    
}

#invalid {
    color: lightcoral;
    font-weight: bold;
}